<div class="page-body">
  <div class="detailHeader">
    <span onclick="history.back()" class="glyphicon glyphicon-menu-left"></span>
    <span>菜品详情</span>
  </div>
  <div class="page-content">
      <div class="detailImage">
      <img [src]="detail.image"> 
      </div>
      <div class="detailTitle">
       <span>{{detail.name}}</span>
      </div>
       <p>
         <span>菜品描述：</span> 
         <span>{{detail.describ}}</span>
      </p>
       <p>
          <span>菜品类别：</span> 
          <span>{{detail.category.name}}</span>
       </p>
       <p>
          <span>价格：</span> 
          <span>{{detail.price | currency:'￥' }}</span>
       </p>
  </div>
</div>
<div class="detailFooter">
  <div>
    <span class="iconfont icon-addcart" style="font-size:23px;"></span>
    <span>购物车</span> 
  </div>
  <div>
    <span>加入购物车</span>
  </div>
</div>