.detailHeader{
    width: 100vw;
    height: 8vh;
    line-height: 8vh;
    background-color: #2d78f4;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    box-sizing: border-box;
    border-bottom: #cccccc;
    position: relative;
}
.detailHeader span:first-of-type{
    position: absolute;
    top: 50%;
    left:20px;
    transform: translateY(-50%);
}
.detailImage{
    width: 100vw;
    height: 50vh;
    line-height: 50vh;
    text-align: center;
}
.detailImage img{
    display: inline-block;
    width: 60vw;
    height: 35vh;
}
.detailTitle{
    width: 100vw;
    height: 8vh;
    line-height: 8vh;
    background: rgb(245, 245, 245);
    font-size: 17px;
}
.detailTitle span{
    margin-left: 20px; 
}
p{
    margin: 4vh 20px;
    font-size: 16px;
}

.detailFooter{
    width: 100vw;
    height: 8vh;
    background: rgb(245, 245, 245);
    display: flex;
    /* border-top: #2d78f4 1px solid; */
    font-size: 18px;
    text-align: center;
}
.detailFooter div{
    flex: 1;
    height: 8vh;
    line-height: 8vh;
}
.detailFooter div:first-of-type{
    color: #2d78f4;
    background-color: transparent;
}
.detailFooter div:first-of-type span{
    margin: 0 5px;
}
.detailFooter div:last-of-type{
    color: #ffffff;
    background-color: #2d78f4;
}