<div class="nav">
  <div [routerLink]="[ '/home' ]" routerLinkActive="active">
    <span class="iconfont icon-home"></span>
    <span>首页</span>
  </div>
  <div [routerLink]="[ '/list' ]" routerLinkActive="active">
    <span class="iconfont icon-list"></span>
    <span>菜单</span>
  </div>
  <div [routerLink]="[ '/cart' ]" routerLinkActive="active">
    <span class="iconfont icon-cart"></span>
    <span>购物车</span>
  </div>
  <div [routerLink]="[ '/mine' ]" routerLinkActive="active">
    <span class="iconfont icon-mine"></span>
    <span>我的</span>
  </div>
</div>